/* Styles CSS pour la mise en forme de la page */

#startButton {
    background-color: #1DB954;
}

#stopButton {
    background-color: #FF0000;
}

#downloadButton {
    background-color: #007bff;
}

