/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles spécifiques à la barre de navigation */
.navbar {
    margin-bottom: 20px;
    background-color: #343a40;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Bouton de classement */
.btn-primary {
    font-size: 22px;
    padding: 12px 40px;
    border-radius: 30px;
    background-color: #007bff;
    border-color: #007bff;
}

/* Animation d'apparition */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Animation du texte */
p {
    color: #fff;
    font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 700;
}

p span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500;
    -webkit-font-smoothing: antialiased;
}

p span::before,
p span::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    transform-origin: left top;
    transition: all ease-out 0.4s;
    content: attr(data-text);
}

p span::before {
    z-index: 1;
    color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1) skew(0deg, 20deg);
}

p span::after {
    z-index: 2;
    color: #6e5e60;
    text-shadow: -1px 0 1px #6e5e60, 1px 0 1px rgba(0, 0, 0, 0.8);
    transform: rotateY(-40deg);
}

p span:hover::before {
    transform: scale(1.1, 1) skew(0deg, 5deg);
}

p span:hover::after {
    transform: rotateY(-10deg);
}

p span + span {
    margin-left: 0.05em;
}

@media (min-width: 20em) {
    p {
        font-size: 2em;
    }
    p span::before,
    p span::after {
        display: block;
    }
}

@media (min-width: 30em) {
    p {
        font-size: 3em;
    }
}

@media (min-width: 40em) {
    p {
        font-size: 5em;
    }
}

@media (min-width: 60em) {
    p {
        font-size: 8em;
    }
}
