#anim {
    color: #fff;
    font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 700;
}

#anim span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500;
    -webkit-font-smoothing: antialiased;
}

#anim span::before,
#anim span::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    transform-origin: left top;
    transition: all ease-out 0.4s;
    content: attr(data-text);
}

#anim span::before {
    z-index: 1;
    color: rgba(0,0,0,0.2);
    transform: scale(1.1, 1) skew(0deg, 20deg);
}

#anim span::after {
    z-index: 2;
    color: #6e5e60;
    text-shadow: -1px 0 1px #6e5e60, 1px 0 1px rgba(0,0,0,0.8);
    transform: rotateY(-40deg);
}

#anim span:hover::before {
    transform: scale(1.1, 1) skew(0deg, 5deg);
}

#anim span:hover::after {
    transform: rotateY(-10deg);
}

#anim span + span {
    margin-left: 0.05em;
}

@media (min-width: 20em) {
    #anim {
        font-size: 2em;
    }
    #anim span::before,
    #anim span::after {
        display: block;
    }
}

@media (min-width: 30em) {
    #anim {
        font-size: 3em;
    }
}

@media (min-width: 40em) {
    #anim {
        font-size: 5em;
    }
}

@media (min-width: 60em) {
    #anim {
        font-size: 8em;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6e5e60;
}
.word {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 50px;
    font: 700 normal 4em/1.5 Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
    text-shadow: 1px 2px #6e5e60, 2px 4px #6e5e60, 3px 6px #6e5e60, 4px 8px #6e5e60, 5px 10px #6e5e60, 6px 12px #6e5e60, 7px 14px #6e5e60, 8px 16px #6e5e60, 9px 18px black, 10px 20px #6e5e60;
}

#btn-rank{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.btn-primary{
    background-color: #949496;
}

.btn-primary:hover{
    background-color: #6e6e70;
}