body {
    background-image: url('/assets/img/iceberg-8159694.jpg'); /* Remplacez par le chemin de votre image de fond */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f8f9fa; /* Couleur de fond de secours au cas où l'image ne se charge pas */
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 15px;
}
