/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-image: url("/assets/img/milky-way-2695569_1920.jpg");
    margin: 0;
    padding-top: 10%;
    color: #fff;
}

/* Styles pour le contenu principal */
.container {
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.table {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.table th, .table td {
    border: none;
    vertical-align: middle;
}

.audio-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-pause-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.timeline-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timeline {
    flex-grow: 1;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #007bff;
    position: absolute;
}

.timer {
    font-size: 14px;
    color: #fff;
}

.speed-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
    transition: color 0.3s;
}

.speed-button:hover {
    color: #0056b3;
}

/* Style de l'égaliseur visuel */
.visualizer {
    width: 100%;
    height: 4px;
    background-color: #007bff;
    margin-top: 10px;
}

/* Style de la forme d'onde */
.waveform {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

/* Style du bouton de boucle */
.loop-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
    transition: color 0.3s;
}

.loop-button:hover {
    color: #0056b3;
}

/* Style du bouton de téléchargement */
.download-link {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-link:hover {
    background-color: #0056b3;
}
